[Desktop Entry]
Encoding=UTF-8
Name=BlankOn Tutorial
Name[id]=Buku Panduan BlankOn
Comment=BlankOn Book
Comment[id]=Buku petunjuk penggunaan BlankOn
Exec=evince /usr/share/buku-panduan/buku-panduan-tambora.pdf
Icon=help-browser
Terminal=false
Type=Application
Categories=GNOME;GTK;Core;Documentation;Utility;
StartupNotify=true
