Source: blankon-avatar
Section: misc
Priority: optional
Maintainer: BlankOn Developers <blankon-dev@googlegroups.com>
Build-Depends: debhelper (>= 7.0.50~)
Standards-Version: 3.9.4

Package: blankon-avatar
Architecture: all
Depends: ${misc:Depends}
Description: BlankOn avatar default
 BlankOn avatar default.
