Source: blankon-panduan
Section: misc
Priority: optional
Maintainer: BlankOn Developers <blankon-dev@googlegroups.com>
Build-Depends: debhelper (>= 7.0.50~)
Standards-Version: 3.9.4

Package: blankon-panduan
Architecture: all
Depends: ${misc:Depends}, evince
Description: BlankOn Panduan BlankOn X Tambora
 BlankOn Panduan BlankOn X Tambora
